<div class="landing-content">
  <input class="input-field" type="text" name="gamertag-field" placeholder="Enter Your Gamertag" id="gamertag-field" />
  <div class="select-container">
   <select class="select">
     <option class="select__option" value="arena,warzone">All Modes</option>
     <option class="select__option" value="warzone">Warzone</option>
     <option class="select__option" value="arena">Arena</option>
   </select>
   <span class="select__arrow">{% include arrow.svg %}</span>
  </div>
  <a href="#" class="button js-button">Fetch Medals</a>
</div>
<div class="preloader__message-container">
  <div class="preloader__message">
  </div>
</div>
