<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-2up">
        <h3 class="footer__title">Connect</h3>
        <ul class="social-media-list">

          {% if site.email %}
            <li>
              {% include icon-email.html %}
            </li>
          {% endif %}

          {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
          {% endif %}

          {% if site.gamertag %}
            <li>
              {% include icon-xbox.html username=site.gamertag %}
            </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-2up">
        <h3 class="footer__title">HaloMedals.io</h3>
        <p>{{ site.description }}</p>
        <a href="paypal.me/DanielRD" class="social-list__link">
          Donate
        </a>
      </div>

    </div>
  </div>

</footer>
