
<script type="text/html" id='match-card'>
  <div class="match-card-wrapper">
    <div class="match-card" data-id = "<%= match.id %>" style = "background-image:url('<%= match.MatchImage %>');">
      <header class="match-card-header">
        <h2 class="match-card__title">
          <%= match.Name %>
        </h2>
        <div class="match-card__details">
          <h6 class="match-card__match-type">
            <%= match.MatchType %>
          </h6>
          <ul class="stats__list">
            <li class="stats__list-item">
              - KDA: 
            </li>
            <li class="stats__list-item">
              <%= match.player.TotalSpartanKills %> |
            </li>
            <li class="stats__list-item">
              <%= match.player.TotalDeaths %> |
            </li>
            <li class="stats__list-item">
              <%= match.player.TotalAssists %> 
            </li>
          </ul>
          <div class="match-card__arrow">
            {% include arrow.svg %}
          </div>
        </div>
      </header>
    </div>
    <div class="match-card__report">
      <h6 class="report__medal-count">Total Medals Earned: <%= match.player.MedalAwards.length %></h6>
      <ul id = "<%= match.id %>" class="medal-list">
      </ul>
      <div class="report__close">
        <span class="close-button">Close {% include close.svg %}</span>
      </div>
    </div>
  </div>
</script>
