
<script type="text/html" id='medal-list'>  
  <% _.each(medalsEarned, function(medal) { %>
      <li class="medal-list__item">
        <div class="medal-list__item-content">
          <div class="medal__icon" style = "background-image: url('<%= medal.spriteLocation.spriteSheetUri %>'); background-size: auto; background-position: -<%= medal.spriteLocation.left %>px -<%= medal.spriteLocation.top %>px; background-origin: content-box;">
          </div>
          <div class="medal-content" data-name = "<%= medal.name %>" data-description = "<%= medal.description %>">
            <span class="medal__name">
              <%= medal.name %>
              <span class="medal__count"><%= medal.count %></span>
            </span>
          </div>
        </div>
      </li>
  <% }); %>
</script>
