/**
 * App Form Styles
 */

.app-header {
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-header__overlay {
  background-color: rgba($black, 0.7);
  padding: 4em 0 6em;
}

.landing-content {
  padding: 1.5em 0 2em;
  text-align: center;
  background-color: rgba($secondary, 0.9);

  @include media-query($on-palm) {
    text-align: left;
  }
}

.select-container {
  position: relative;
  display: inline-block;
  margin: 0 1em 0 1em;
}

.select {
  padding: 0.5em 1.8em 0.5em 0.5em;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: $base-font-family;
  font-weight: 400;
  border-radius: 0;
  color: $white;
  letter-spacing: 1px;
}

.select__option {
  background: $gray;
  padding: 0.5em;
  color: $black;
}

.select__arrow {
  position: absolute;
  top: 6px;
  right: 5px;
  
  svg {
    height: 1em;
    width: 1em;
    fill: $white;
  }
}

/* for IE 11 */
select::-ms-expand { 
  display: none;
}

.input-field {
  width: 40%;
  padding: 1.5em 1.5em 0.75em 0.75em;
  background: transparent;
  border: 0;
  color: $white;
  border-bottom: 2px solid $white;
  font-size: 1em;
  font-weight: 300;
  font-family: $base-font-family;
  letter-spacing: 1px;

  @include media-query($on-palm) {
    width: 80%;
    margin-left: 1em;
    margin-bottom: 1.5em;
  }
}

.button {
  padding: 1em 1em;
  border: 1px solid $primary;
  background: transparent;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;

  &:link,
  &:visited {
    color: $primary;
  }

  &:hover,
  &:focus,
  &:active {
    color: $secondary;
    background: $white;
    border-color: $white;
    text-decoration: none;
  }
}
