/**
 * App Form Styles
 */

.app-header {
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease;

  .wrapper {
    animation: fadeIn 0.7s linear 1;
  }
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.app-header__overlay {
  padding: 4em 0 3em;
  background-color: rgba($black, 0.7);

  @include media-query($on-palm) {
    padding: 2em 0;
  }
}

.landing-content {
  padding: 1.5em 0 2em;
  background-color: rgba($secondary, 0.9);
  text-align: center;

  @include media-query($on-palm) {
    padding: 1em 15px 1.5em;
    text-align: left;
  }
}

.select-container {
  position: relative;
  display: inline-block;
  margin: 0 1em;

  @include media-query($on-palm) {
    margin: 0 0.5em;
  }
}

.select {
  width: 100%;
  padding: 0.5em 1.8em 0.5em 0.5em;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $base-font-family;
  font-size: 0.9em;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select__option {
  padding: 0.5em;
  background: $gray;
  color: $black;
}

.select__arrow {
  position: absolute;
  top: 6px;
  right: 5px;

  svg {
    height: 0.9em;
    width: 0.9em;
    fill: $white;
  }
}

/* for IE 11 */
select::-ms-expand {
  display: none;
}

.input-field {
  width: 44%;
  padding: 1.5em 1.5em 0.75em 0.75em;
  border: 0;
  border-bottom: 2px solid $white;
  border-radius: 0;
  background: transparent;
  color: $white;
  letter-spacing: 1px;
  font-family: $base-font-family;
  font-size: 1em;
  font-weight: 300;
  transition: all 0.25s ease;

  @include media-query($on-palm) {
    width: 80%;
    margin-bottom: 1.5em;
    margin-left: 1em;
  }

  &:focus {
    outline: none;

    &::-webkit-input-placeholder {
      color: $primary;
    }
  }
}

.description-box {
  position: fixed;
  bottom: -80px;
  height: 0;
  width: 100%;
  padding: 1em 0;
  background: $secondary;
  color: $white;
  text-align: center;
  transition: all 0.35s ease;

  @include media-query($on-palm) {
    padding-left: 15px;
    text-align: left;
  }

  &.is-visible {
    bottom: 0;
    height: auto;
  }

  &.is-loading {
    color: $primary;
  }
}

.description-box__name {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.description-box__description {
  padding-left: 0.5em;
  font-weight: 300;

  @include media-query($on-palm) {
    display: block;
    padding-left: 0;
  }
}

.message-close {
  position: absolute;
  right: 30px;
  display: inline-block;
  padding-top: 3px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.76em;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.25s ease;

  @include media-query($on-palm) {
    position: static;
    display: block;
    padding-top: 6px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $primary;

    svg {
      fill: $primary;
    }
  }

  svg {
    height: 0.76em;
    width: 0.76em;
    transition: all 0.25s ease;
    fill: $white;
  }
}

.button {
  padding: 1em;
  border: 1px solid $primary;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9em;
  font-weight: 300;
  transition: all 0.3s ease;

  @include media-query($on-palm) {
    padding: 1em 0.5em;
    letter-spacing: 1px;
    font-size: 0.7em;
  }

  &:link,
  &:visited {
    color: $primary;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $white;
    background: $white;
    color: $secondary;
    text-decoration: none;
  }
}

.page__controls {
  display: none;
  margin: 0 0 3em;
  text-align: center;

  &.is-visible {
    display: block;
  }

  @include media-query($on-palm) {
    margin: 1em 0 1.5em
  }
}

.page__control-button {
  display: inline-block;
  width: 228px;

  &:link,
  &:visited {
    padding: 1em;
    border: 1px solid $secondary;
    background: transparent;
    color: $secondary;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 300;
    transition: all 0.25s ease;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $primary;
    color: $primary;
    text-decoration: none;
  }
}

.control-divider {
  display: inline-block;
  padding: 0 0.5em;

  @include media-query($on-palm) {
    display: block;
    padding: 0.5em 0;
  }
}

.about__popup {
  position: relative;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px 30px;
  background: $white;
  text-align: left;
}
