/**
 * Site header
 */

.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  transition: all 0.25s ease;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 2px;
  color: $secondary;
  text-transform: uppercase;
  line-height: 56px;
  margin-bottom: 0;
  float: left;

  &:link,
  &:visited {
    color: $secondary;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $visor-color;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .navigation-item__link {
    transition: all 0.25s ease;
    color: $secondary;
    line-height: $base-line-height;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover,
    &:active,
    &:focus {
      color: $visor-color;
      text-decoration: none;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border-radius: 5px;
    text-align: right;

    .page-link {
      display: block;
      padding: 6px 10px;
      margin-left: 20px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}


/**
 * Site footer and modal styles.
 */

.site-footer {
  padding: $spacing-unit 0;
  border-top: 1px solid $gray;
}

.footer__title,
.modal__title {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal__body {
  font-size: 0.76em;
}

.icon {
  margin-right: 5px;
}

.social-media-list {
  margin-left: 0;
  list-style: none;
}

.social-list__link {
  display: inline-block;
  margin-bottom: 4px;
  transition: all 0.25s ease;

  &:link,
  &:visited {
    color: $visor-color;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $secondary;
  }
}

.username {
  padding-top: 1px;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-2up {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-1up {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width: calc(100% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

