/**
 * Match Card Styles
 */

.recent-matches {
  margin-top: -36px;
  margin-bottom: 36px;

  @include media-query($on-palm) {
    margin-top: -15px;
    margin-bottom: 15px;
  }
}

.match-card-wrapper {
  margin-bottom: 0.5em;
  background: $gray;

  @include media-query($on-palm) {
    margin-bottom: 15px;
  }
}

.match-card {
  position: relative;
  height: 360px;
  margin-bottom: 0;
  border-bottom: 3px solid $black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;

  @include media-query($on-palm) {
    height: 300px;
  }

  &:hover,
  &:active,
  &:focus {
    .match-card-header {
      background: rgba($black, 0.9);
    }

    .match-card__title {
      color: $primary;
    }
  }

  &.medals-visible {

    .match-card-header {
      background: rgba($black, 0.9);
    }

    .match-card__title {
      color: $primary;
    }

    svg {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
}

.match-card__title {
  margin-bottom: 0;
  padding: 20px 30px 0;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 400;
  transition: (all 0.3s ease);

  @include media-query($on-palm) {
    padding: 16px 20px 8px;
    line-height: 1.2;
    font-size: 1.6em;
  }
}

.match-card-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba($black, 0.7);
  transition: (all 0.3s ease);
}

.match-card__details {
  position: relative;
  padding-left: 30px;

  @include media-query($on-palm) {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.stats__list,
.detail__list {
  display: block;
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
}

.report__details {
  display: inline-block;
  width: 49.55%;
  padding: 15px 30px;
  vertical-align: top;
  box-sizing: border-box;

  @include media-query($on-palm) {
    width: 100%;
  }
}

.report__details--second {
  @include media-query($on-palm) {
    padding-top: 0;
    text-align: center;
  }
}

.list-item__label {
  padding-right: 8px;
  text-transform: uppercase;
  font-weight: 400;
}

.list-item__label--duration {
  padding-right: 28px;
}

.list-item__value {
  text-transform: uppercase;
  font-weight: 200;
}

.detail__list-item {
  padding-bottom: 4px;
  color: $black;
  letter-spacing: 1px;
  font-weight: 300;
}

.details__weapon-image {
  max-width: 90%;
}

.stats__list-item {
  display: inline-block;
  color: $white;
  letter-spacing: 1px;
  font-weight: 300;
}

.match-card__match-type {
  display: inline-block;
  margin-bottom: 0;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 300;

  @include media-query($on-palm) {
    margin-bottom: 0;
  }
}

.match-card__arrow {
  position: absolute;
  top: 26px;
  right: 30px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;

  @include media-query($on-palm) {
    display: block;
    position: relative;
    top: 8px;
    left: 5px;
  }

  svg {
    position: relative;
    top: 1px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 0.9em;
    width: 0.9em;
    fill: $white;
  }
}

.match-card__report {
  height: 0;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.25s ease;

  &.is-visible {
    height: auto;
  }
}

.report__medal-count {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  background: $secondary;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 300;

  @include media-query($on-palm) {
    padding-top: 15px;
    padding-left: 15px;
  }
}

.report__close {
  text-align: right;
  font-size: 0.76em;
}

.close-button {
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover,
  &:active,
  &:focus {
    color: $secondary;

    svg {
      fill: $secondary;
    }
  }

  svg {
    height: 0.76em;
    width: 0.76em;
    transition: all 0.25s ease;
  }
}

.medal-list {
  margin: 0;
  padding: 0;
}

.medal-content {
  height: 34px;

  @include media-query($on-palm) {
    height: auto;
  }
}

.medal-list__item {
  display: inline-block;
  width: 15.33%;
  padding: 15px;
  background-repeat: no-repeat;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;

  @include media-query($on-palm) {
    width: 19.33%;
  }

  @include media-query($on-mobile) {
    width: 26.33%;
    padding: 8px;
  }

  &:hover,
  &:active,
  &:focus {
    background: rgba($secondary, 0.15);
  }
}

.medal-list__item-content {
  position: relative;
  min-height: 140px;
}

.medal__icon {
  height: 74px;
  width: 74px;
  margin: auto;
}

.medal__name {
  display: inline-block;
  width: 100%;
  margin: 8px 0;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 0.9em;
  font-weight: 300;

  @include media-query($on-palm) {
    font-size: 0.8em;
  }
}

.medal__count {
  display: block;
  width: 100%;
  margin: auto;
  padding-top: 4px;
  font-weight: 300;
}
