/**
 * Preloader Styles
 */

.preloader {
  position: relative;
  margin-top: 1em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  height: 164px;
  width: 164px;
  border-radius: 50%;
  background: $white;

  @include media-query($on-palm) {
    margin-bottom: 2em;
  }
}

.preloader__icon {
  position: relative;
  top: 21px;
  z-index: 10;
  height: 124px;
  width: 124px;
}

.preloader__icon-visor {
  stroke-opacity: 0.4;
}

.preloader__message-container {
  text-align: center;
}

.preloader__background {
  content: '';
  position: absolute;
  top: 66px;
  right: 45px;
  z-index: 2;
  height: 38px;
  width: 74px;
  background: rgba($visor-color, 1);
}

.preloader__circle {
  position: absolute;
  bottom: -9%;
  left: 39%;
  z-index: 1;
  height: 164px;
  width: 164px;
  border-radius: 50%;
  background: $white;

  @include media-query($on-palm) {
    left: 36.5%;
  }

  @include media-query($on-mobile) {
    left: 28%;
  }
}

.is--loading {
  -moz-animation: loading_animation 2s linear infinite;
  -webkit-animation: loading_animation 2s linear infinite;
  animation: loading_animation 2s linear infinite;
}

@-moz-keyframes loading_animation {

  0% {
    background: rgba($primary, 1);
  }

  50% {
    background: rgba($primary, 0.5);
  }

  100% {
    background: rgba($primary, 1);
  }
}

@-webkit-keyframes loading_animation {

  0% {
    background: rgba($primary, 1);
  }

  50% {
    background: rgba($primary, 0.5);
  }

  100% {
    background: rgba($primary, 1);
  }
}

@keyframes loading_animation {

  0% {
    background: rgba($primary, 1);
  }

  50% {
    background: rgba($primary, 0.5);
  }

  100% {
    background: rgba($primary, 1);
  }
}

.is--loading-button {
  color: $secondary;
  border-color: $white;
  -moz-animation: button_loading_animation 2s linear infinite;
  -webkit-animation: button_loading_animation 2s linear infinite;
  animation: button_loading_animation 2s linear infinite;

  &:visited,
  &:link {
    color: $secondary;
  }
}

@-moz-keyframes button_loading_animation {

  0% {
    border-color: $primary;
  }

  50% {
    border-color: $secondary;
  }

  100% {
    border-color: $primary;
  }
}

@-webkit-keyframes button_loading_animation {

  0% {
    border-color: $primary;
    color: $primary;
  }

  50% {
    border-color: $secondary;
    color: $secondary;
  }

  100% {
    border-color: $primary;
    color: $primary;
  }
}

@keyframes button_loading_animation {

  0% {
    border-color: $primary;
    color: $primary;
  }

  50% {
    border-color: $secondary;
    color: $secondary;
  }

  100% {
    border-color: $primary;
    color: $primary;
  }
}
