<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="app-header" style="background-image: url('https://content.halocdn.com/media/Default/community/blogs/art-team-drop/A-Concept/h5-guardians-concept-art-18-1920x1080-06343794e088434d865932d068a02f62.jpg');">
        <div class="app-header__overlay">
          <div class="wrapper">

            {% include preloader.html %}

            {% include app_form.html %}

          </div>
        </div>
      </div>
      <div class="page__matches">
        <div class="wrapper">
          <div id="recent-matches" class="recent-matches"></div>
          <div class="page__controls">
            <a href="#" class="page__control-button button--load-more">
              Load More Matches
            </a>
            <span class="control-divider">OR</span>
            <a href="#" class="page__control-button button--reset">
              Reset and Refetch
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Message Box -->
    <div class="description-box">
      <span class="description-box__name"></span>:
      <span class="description-box__description"></span>
      <span class="message-close">Close {% include close.svg %}</span>
    </div>

    <!-- About Page -->
    <div id="about__popup" class="zoom-anim-dialog mfp-hide about__popup">
      <h3 class="modal__title">About</h3>
      <p class="modal__body">
        View your Halo 5 Guardians matches and see the medals you've earned.
        This way you can look through your accomplishments while waiting
        for another match to load!
      </p> 
      <p class="modal__body">
        Enter your gamertag, fetch your matches, then click on the matches 
        to see your medals.
      </p>
      <p class="modal__body">
        Master Chief icon inspired by: <a href="http://olliehoff.co.uk/">Ollie Hoff</a>
      </p>
      <h3 class="modal__title">Notice</h3>
      <p class="modal__body">
        This application is offered by Daniel Destefanis, which is solely responsible for its content. It is not sponsored or endorsed by Microsoft. This application uses the Halo® Game Data API. Halo © 2016 Microsoft Corporation. All rights reserved. Microsoft, Halo, and the Halo Logo are trademarks of the Microsoft group of companies.
      </p>
    </div>

    {% include footer.html %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{{ "/js/uri.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jsonp.js" | prepend: site.baseurl }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.1/jquery.magnific-popup.min.js"></script>
    <script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72847000-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Include Underscore Templates -->
    {% include match_card.html %}
    {% include medal_table.html %}
  </body>
</html>
