<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="app-header" style="background-image: url('https://content.halocdn.com/media/Default/community/blogs/art-team-drop/A-Concept/h5-guardians-concept-art-18-1920x1080-06343794e088434d865932d068a02f62.jpg');">
        <div class="app-header__overlay">
          <div class="wrapper">

            {% include preloader.html %}

            {% include app_form.html %}

          </div>
        </div>
      </div>
      <div class="page__matches">
        <div class="wrapper">
          <div id="recent-matches" class="recent-matches"></div>
          <div class="page__controls">
            <a href="#" class="button button--load-more">
              Load More Matches
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="description-box">
      <span class="description-box__name"></span>:
      <span class="description-box__description"></span>
      <span class="message-close">Close {% include close.svg %}</span>
    </div>

    {% include footer.html %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{{ "/js/uri.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jsonp.js" | prepend: site.baseurl }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>

    <!-- Include Underscore Templates -->
    {% include match_card.html %}
    {% include medal_table.html %}
  </body>
</html>
