<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        <div id="recent-matches" class="recent-matches"></div>
      </div>
    </div>

    {% include footer.html %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{{ "/js/uri.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jsonp.js" | prepend: site.baseurl }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>

    <!-- Include Underscore Templates -->
    {% include match_card.html %}
    {% include medal_table.html %}
  </body>
</html>
